*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    background-color: #a52a2abb;
    margin-top: 10px;
    text-align: center;
    color: cornsilk;
}
#Artista{
    font-size: 25px;
    font: bold;
}
#container{
    width: 40%;
    height: 50vw;
    background-color: #515356bb;
    margin: 50px auto;
}
.imgcontainer{
    margin-left: 10%;
}
#img{
    position: relative;
    top: 50px;
    margin: auto;
    width: 90%;
    height: 20vw;
    border-radius: 50%;
}
.image{
    width: 100%;
    border-radius: 50%;
}
#audio{
    position: relative;
    top: 15%;
    margin: auto;
    width: 100%;
    height: 10vw;
    border-radius: 6px;
    background-color: #a52a2abb;
}
#o{
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 10px;
    display: none;
}
.btn{
    width: 70px;
    position: relative;
    left: 14vw;
    bottom: 2px;
    background: #515156;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

    
}
.display_image{
    width: 100%;
}
.barra{
    width: 80%;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: blueviolet;
}
progress{
    height: 14px;
    width: 0;
}
.ponto{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-left: -2px;
}
.tempo{
    color: cornsilk;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media(min-width: 320px) and (max-width: 900px){
    #container{
        width: 80%;
        height: 100vw;
        background-color: #515356bb;
        margin: 50px auto;
    }
    .btn{
        width: 10vw;
        position: relative;
        left: 19vw;
        top: 20px;
        background: #515156;
        border-radius: 50%;
        border: 2px solid blueviolet;
        cursor: pointer;
    
        
    }
    #audio{
        position: relative;
        top: 15%;
        margin: auto;
        width: 90%;
        height: 40vw;
        border-radius: 6px;
        background-color: #a52a2abb;
    }
}
    @media(min-width: 901px) and (max-width: 1620px){

        #container{
            width: 40%;
            height: 55vw;
            background-color: #515356bb;
            margin: 50px auto;
        }
        .btn{
            width: 4vw;
            position: relative;
            left: 12vw;
            top: 30px;
            background: #515156;
            border-radius: 50%;
            border: 2px solid white;
            cursor: pointer;
        
            
        }
        #audio{
            position: relative;
            top: 15%;
            margin: auto;
            width: 90%;
            height: 20vw;
            border-radius: 6px;
            background-color: #a52a2abb;
        }
    }

